@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

html, body {
     height: 100%;
}
body {
     font-family: 'Montserrat', sans-serif;
     background: url(../img/9181.png) no-repeat center center fixed;
     -webkit-background-size: cover;
        -moz-background-size: cover;
          -o-background-size: cover;
             background-size: cover;
}

.height-100 {
     height: 100%;
}

.bg-dark-alpha {
     background-color: rgb(103, 57, 121);
}
.bg-light-alpha {
     background-color: rgb(103, 57, 121);
}

.movie-pass {
     width: 700px;
     border: 2px solid rgba(0, 0, 0, 0.2);
     background-color: rgb(32, 31, 31);
}

.login-form {
     width: 500px;
     border: 2px solid rgba(0, 0, 0, 0.2);
     background-color: rgb(79, 10, 85);
}

.add-form {
     border: 2px solid rgba(0, 0, 0, 0.2);
     background-color: rgb(103, 57, 121);
}

.a-fb {
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

.fb-button-container {
	padding: 10px;
	color: #fff;
	border-radius: 5px;
	background: #3d6ad6;
}

.fb-button-container:hover {
	background: #1D3C78;
}

#sidebar-container{
     min-height: 100vh;
}

#sidebar-container .menu{
     width: 18rem;
}

.bg-primary{
     background-color: black !important;
}

#content {
     overflow-y: auto;
     height: 100vh;
     padding-bottom: 5rem;
}

