.functionDiv{
    display:flex; 
    max-width: 90%; 
    align-items: center; 
    margin-left: 5%; 
    margin-top: 30px;
    border: 2px solid;
    color:white; 
    background:rgba(0, 0, 0, 0.7);
    text-align: center;
}

#functionSelectior:hover
{
    color: black ;
    background-color: aqua;
    width: 220px ;
    margin-left: 38%;
    text-align: center;

}